Invoice_Automation_.json
{
  "name": "Invoice Ai Agent :",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1_9x-4coh7pX6cErBA-sIF_5ZA5VbOJ8P",
          "mode": "list",
          "cachedResultName": "Unprocessed",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1_9x-4coh7pX6cErBA-sIF_5ZA5VbOJ8P"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        -240
      ],
      "id": "40cb22fa-cf1c-4475-a0a3-173c91e9b4a2",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6fgqb4vwZmHz4h8u",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -384,
        -240
      ],
      "id": "7258e16b-b089-4ccc-841e-2942b00b5846",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6fgqb4vwZmHz4h8u",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Download file').item.json.fileExtension }}",
                    "rightValue": "jpg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "18155280-45c2-45e9-afbd-b44de930c2b0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "JPG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6e44416b-3e3d-41e6-a2f8-dc9a6e33a0e5",
                    "leftValue": "={{ $('Download file').item.json.fileExtension }}",
                    "rightValue": "png",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PNG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a0425a20-7b4b-49a1-ab11-7b218739d331",
                    "leftValue": "={{ $('Download file').item.json.fileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        64,
        -256
      ],
      "id": "06f3455f-a4c8-437a-8cb5-f500d90bc55b",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -160,
        -240
      ],
      "id": "e9421799-a308-4dff-9dab-6b097bb74cee",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.ParsedResults[0].ParsedText }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"companyInfo\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"name\": {\n          \"type\": \"string\"\n        },\n        \"street\": {\n          \"type\": \"string\"\n        },\n        \"city\": {\n          \"type\": \"string\"\n        },\n        \"zipCode\": {\n          \"type\": \"string\"\n        },\n        \"country\": {\n          \"type\": \"string\"\n        },\n        \"phone\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"billedTo\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"name\": {\n          \"type\": \"string\"\n        },\n        \"street\": {\n          \"type\": \"string\"\n        },\n        \"city\": {\n          \"type\": \"string\"\n        },\n        \"zipCode\": {\n          \"type\": \"string\"\n        },\n        \"country\": {\n          \"type\": \"string\"\n        },\n        \"phone\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"invoiceNumber\": {\n      \"type\": \"string\"\n    },\n    \"dateIssued\": {\n      \"type\": \"string\"\n    },\n    \"dueDate\": {\n      \"type\": \"string\"\n    },\n    \"amountDue\": {\n      \"type\": \"number\"\n    },\n    \"lineItems\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"description\": {\n            \"type\": \"string\"\n          },\n          \"details\": {\n            \"type\": \"string\"\n          },\n          \"rate\": {\n            \"type\": \"number\"\n          },\n          \"quantity\": {\n            \"type\": \"integer\"\n          },\n          \"amount\": {\n            \"type\": \"number\"\n          },\n          \"taxable\": {\n            \"type\": \"boolean\"\n          }\n        }\n      }\n    },\n    \"subtotal\": {\n      \"type\": \"number\"\n    },\n    \"discount\": {\n      \"type\": \"number\"\n    },\n    \"tax\": {\n      \"type\": \"number\"\n    },\n    \"total\": {\n      \"type\": \"number\"\n    },\n    \"depositRequested\": {\n      \"type\": \"number\"\n    },\n    \"depositDue\": {\n      \"type\": \"number\"\n    },\n    \"notes\": {\n      \"type\": \"string\"\n    },\n    \"terms\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"invoiceNumber\",\n    \"dateIssued\",\n    \"dueDate\",\n    \"total\",\n    \"lineItems\"\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        528,
        -256
      ],
      "id": "196c63be-a2ea-4009-8828-5d4f468fb748",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        -96
      ],
      "id": "7a3db79d-4f2e-4375-91a2-da55a362b440",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "miB5JQGoenqlJFDg",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ygXEFOnx--c8siWYH9NyAxpyVKn4c94GsQQkU4zKBFc",
          "mode": "list",
          "cachedResultName": "2025 Business Expenses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ygXEFOnx--c8siWYH9NyAxpyVKn4c94GsQQkU4zKBFc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ygXEFOnx--c8siWYH9NyAxpyVKn4c94GsQQkU4zKBFc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output.invoiceNumber }}",
            "Date Issued": "={{ $json.output.dateIssued }}",
            "Due Date": "={{ $json.output.dueDate }}",
            "Client Name": "={{ $json.output.billedTo.name }}",
            "Client Phone": "={{ $json.output.companyInfo.phone }}",
            "Services Amount": "={{ $json.output.lineItems[0].amount }}",
            "Consulting Amount": "={{ $json.output.lineItems[1].amount }}",
            "Materials Amount": "={{ $json.output.lineItems[2].amount }}",
            "Subtotal": "={{ $json.output.subtotal }}",
            "Tax": "={{ $json.output.tax }}",
            "Total": "={{ $json.output.total }}",
            "Payment Status": "={{ $json.output.depositDue }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Issued",
              "displayName": "Date Issued",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone",
              "displayName": "Client Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Services Amount",
              "displayName": "Services Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Consulting Amount",
              "displayName": "Consulting Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Materials Amount",
              "displayName": "Materials Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tax",
              "displayName": "Tax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Status",
              "displayName": "Payment Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        -240
      ],
      "id": "2b8ca194-9d04-411c-8f1e-3ab498fba04a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uhvSfpnT7Aw9F0tb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Download file').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1I9XcXpElfp3Me9Mk8Q3rrpK7vtTFfKXf",
          "mode": "list",
          "cachedResultName": "Processed",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1I9XcXpElfp3Me9Mk8Q3rrpK7vtTFfKXf"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1088,
        -240
      ],
      "id": "ad39a46b-bb27-49d6-838f-d5d854bcc607",
      "name": "Move to Processed Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6fgqb4vwZmHz4h8u",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K81001364788957"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "language",
              "value": "eng"
            },
            {
              "name": "isOverlayRequired",
              "value": "false"
            },
            {
              "name": "base64Image",
              "value": "=data:application/pdf;base64,{{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        -144
      ],
      "id": "6fd563cc-8aad-4a92-9c9f-82ba9c27e70f",
      "name": "OCR API - pdf"
    },
    {
      "parameters": {
        "content": "**OCR Process**\n\nPurpose: Extracts text from invoices using OCR.  \nLogic: Switch routes file type (JPG, PNG, PDF). OCR API extracts text.  \nOutcome: OCR returns clean text for AI extraction.\n",
        "height": 576,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        -512
      ],
      "typeVersion": 1,
      "id": "aa216fd4-0d2d-4e93-9986-b239be0022a0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "**Google Drive File Detection**\n\nPurpose: Triggers when a new invoice is uploaded to Google Drive.  \nNodes: Google Drive Trigger (detects files), Download File (fetches invoice).  \nOutcome: Invoice downloaded and ready for processing.\n",
        "height": 576,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        -512
      ],
      "typeVersion": 1,
      "id": "8a0517c1-d254-4e0e-8a5c-f95bf298b702",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "**AI Information Extraction**\n\nPurpose: Uses Google Gemini to extract key fields from OCR text.  \nFields: Invoice No, Date, Vendor, Amount, Tax.  \nOutcome: Generates structured invoice data.\n",
        "height": 576,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        -512
      ],
      "typeVersion": 1,
      "id": "0927ffbc-dabc-41fd-9e7b-e8fbbf50bc2b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "**Store and Archive Results**\n\nPurpose: Saves invoice data and organizes files.  \nNodes: Append Row (Google Sheet), Move File (Processed folder).  \nOutcome: Invoice recorded and archived.\n",
        "height": 576,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        -512
      ],
      "typeVersion": 1,
      "id": "fd794cab-a113-4fbf-ab5e-9fdd38af916a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "**Convert File to Base64**\n\nPurpose: Converts invoice file to Base64 format for OCR.  \nDetails: Base64 allows OCR APIs to read image or PDF data.  \nOutcome: File encoded and ready for OCR.\n",
        "height": 576,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -512
      ],
      "typeVersion": 1,
      "id": "599c851d-89df-4774-a671-4b1771aaa894",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K84885334588957"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "base64Image",
              "value": "=data:image/jpeg;base64,{{ $json.data }}"
            },
            {
              "name": "language",
              "value": "eng"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        -336
      ],
      "id": "bebfa7cd-4e05-495e-91a9-9d2b72acd53d",
      "name": "OCR API - Image,Png"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "OCR API - Image,Png",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR API - Image,Png",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR API - pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Move to Processed Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR API - pdf": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR API - Image,Png": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e3dc3612-675d-4e5f-adf4-3db4f5379c17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03dcb670dd80e2a1664e76876540a37c20684a71e47b8e9b65e44574e808a5f6"
  },
  "id": "u7BzrwMl8XMiT0ah",
  "tags": []
}